<div class="row header-row">
  <div class="col-lg-12 text-center">
    <h1>HEXO PLUGIN MANAGER</h1>
    <h4>The missing Plugin Manager for Hexo</h4>
  </div>
  <!-- /.col-lg-12 -->
</div>
<div class="row search-row">
  <div class="col-lg-2"></div>
  <div class="col-lg-8 text-center">
    {{!--
      the search action when the user presses the button or ENTER will be
      handled by the "searchTransition" action declared on the application
      controller.
    --}}
    {{search-box action="searchTransition"}}
  </div>
  <div class="col-lg-2"></div>
</div>
<!-- /.row -->
<div class="row">
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-trending">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-arrow-circle-up"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Trending</div>
            {{!-- <div>Recent increase in installs</div> --}}
          </div>
        </div>
      </div>
      <ul>
        {{#each plugin in trending}}
          <li>
            {{#link-to 'plugin' plugin.packageName}}
              {{plugin.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
      {{!--
      {{#link-to "plugins.trending"}}
        <div class="panel-footer">
          <span class="pull-left">View More</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      {{/link-to}}
      --}}
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-new">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-asterisk"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">New</div>
            {{!-- <div>Just added to the database</div> --}}
          </div>
        </div>
      </div>
      <ul>
        {{#each plugin in newest}}
          <li>
            {{#link-to 'plugin' plugin.packageName}}
              {{plugin.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
      {{!--
      {{#link-to "plugins.new"}}
        <div class="panel-footer">
          <span class="pull-left">View More</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      {{/link-to}}
      --}}
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-updated">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-refresh"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Updated</div>
            {{!-- <div>Recently updated</div> --}}
          </div>
        </div>
      </div>
      <ul>
        {{#each plugin in updated}}
          <li>
            {{#link-to 'plugin' plugin.packageName}}
              {{plugin.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
      {{!--
      {{#link-to "plugins.updated"}}
        <div class="panel-footer">
          <span class="pull-left">View More</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      {{/link-to}}
      --}}
    </div>
  </div>
  <div class="col-lg-3 col-md-6">
    <div class="panel panel-popular">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-star"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">Popular</div>
            {{!-- <div>Most installed of all time</div> --}}
          </div>
        </div>
      </div>
      <ul>
        {{#each plugin in popular}}
          <li>
            {{#link-to 'plugin' plugin.packageName}}
              {{plugin.name}}
            {{/link-to}}
          </li>
        {{/each}}
      </ul>
      {{!--
      {{#link-to "plugins.popular"}}
        <div class="panel-footer">
          <span class="pull-left">View More</span>
          <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
          <div class="clearfix"></div>
        </div>
      {{/link-to}}
      --}}
    </div>
  </div>
</div>

{{!-- TODO: realtime graph with new hpm users, plugin installatations and updates
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Realtime
      </div>
      <div class="panel-body">
        <div id="morris-area-chart"></div>
      </div>
    </div>
  </div>
</div>
--}}
