{{#if isShortQuery}}
  <div class="row">
    <h4 class="text-danger">Oops! Query too short. Write 3 or more characters.</h4>
  </div>
{{/if}}
<div class="row page-content">
  <section class="col-lg-8 primary-results">
    {{#results-box title="Plugins"}}
      {{#each plugins}}
        <a href="#" class="list-group-item">{{name}}</a>
      {{else}}
        No plugins were found
      {{/each}}

      {{#if canLoadMorePlugins}}
        <a href="#" {{action "searchPlugins"}} class="btn btn-default btn-block">Show more</a>
      {{/if}}
    {{/results-box}}
  </section>

  <section class="col-lg-4 secondary-results">
    {{#results-box title="Developers"}}
      {{#each users}}
        <a href="#" class="list-group-item">{{name}}</a>
      {{else}}
        No developers were found
      {{/each}}

      {{#if canLoadMoreUsers}}
        <a href="#" {{action "searchUsers"}} class="btn btn-default btn-block">Show more</a>
      {{/if}}
    {{/results-box}}

    {{#results-box title="Keywords"}}
      {{#each keywords}}
        <a href="#" class="list-group-item">{{name}}</a>
      {{else}}
        No keywords were found
      {{/each}}

      {{#if canLoadMoreKeywords}}
        <a href="#" {{action "searchKeywords"}} class="btn btn-default btn-block">Show more</a>
      {{/if}}
    {{/results-box}}
  </section>
</div>
